



body {
  background-image: url(https://images.unsplash.com/photo-1521108574125-f729ba6a4c03?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f2e84c02ea82af7b9da81f1a380a4ea2&auto=format&fit=crop&w=2134&q=80);
color: white;
	


}


h1 {
    color:antiquewhite;
    font-size: 60px;
	text-align: center;
	margin: auto;
	text-decoration:overline;
		
		
}


#tasto1 {
	background-color: antiquewhite;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	text-align:center;
	margin: auto;
    vertical-align: middle;
	line-height: 100px;
	color:#080A21;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    transition: width 1s, height 1s;
	position: 
	
			
	
}

#tasto1:hover {
    width: 600px;
	height: 400px;
}


.testo1 {
	position:relative;
     bottom:30px;
     left:0px;
     visibility: hidden;
	line-height: 50px
	 
	
}

#tasto1:hover .testo1 {
	
visibility: visible
}


#tasto2 {
	background-color: antiquewhite;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	text-align:center;
	margin: auto;
    vertical-align: middle;
	line-height: 100px;
	color:#080A21;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	transition: width 1s, height 1s;
	
}

#tasto2:hover {
    width: 600px;
	height: 400px;
}

.spinnerlink {
	position:relative;
     bottom:30px;
     left:0px;
     visibility: hidden;
	line-height: 50px
}
.colonnelink {
	position:relative;
     bottom:30px;
     left:0px;
     visibility: hidden;
	line-height: 50px
}		
		
#tasto2:hover .spinnerlink {
	
visibility: visible
}

#tasto2:hover .colonnelink {
	
visibility: visible
}

.spinner {
  width: 100px;
  height: 100px;
  margin: 100px auto;
  background-color: antiquewhite;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}




.spazio {
	height: 30px
}
.spazioin {
	height: 100px
}




#portfolio {
	background-color: antiquewhite;
	width: 110px;
	height: 110px;
	border-radius: 100px;
	text-align:center;
	margin: auto;
    vertical-align: middle;
	line-height: 100px;
	color:#080A21;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	transition: width 1s, height 1s;
	
	
	
	
}

#portfolio:hover {
    width: 700px;
	height: 300px;
}
.introportfolio {
	position:relative;
     bottom:30px;
     left:0px;
     visibility: hidden;
	line-height: 50px
}		

#portfolio:hover .introportfolio{
	visibility: visible;
	
}


@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
