



body {
  background-image: url(https://images.unsplash.com/photo-1521108574125-f729ba6a4c03?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f2e84c02ea82af7b9da81f1a380a4ea2&auto=format&fit=crop&w=2134&q=80);
color: white;
	


}


h1 {
    color:antiquewhite;
    font-size: 60px;
	text-align: center;
	margin: auto;
	text-decoration:overline;
		
		
}


#tasto1 {
	background-color: antiquewhite;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	text-align:center;
	margin: auto;
    vertical-align: middle;
	line-height: 100px;
	color:#080A21;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    transition: width 1s, height 1s;
	position: 
	
			
	
}

#tasto1:hover {
    width: 600px;
	height: 400px;
}


.testo1 {
	position:relative;
     bottom:30px;
     left:0px;
     visibility: hidden;
	line-height: 50px
	 
	
}

#tasto1:hover .testo1 {
	
visibility: visible
}


#tasto2 {
	background-color: antiquewhite;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	text-align:center;
	margin: auto;
    vertical-align: middle;
	line-height: 100px;
	color:#080A21;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	transition: width 1s, height 1s;
	
}

#tasto2:hover {
    width: 600px;
	height: 400px;
}

.spinnerlink {
	position:relative;
     bottom:30px;
     left:0px;
     visibility: hidden;
	line-height: 50px
}
.colonnelink {
	position:relative;
     bottom:30px;
     left:0px;
     visibility: hidden;
	line-height: 50px
}		
		
#tasto2:hover .spinnerlink {
	
visibility: visible
}

#tasto2:hover .colonnelink {
	
visibility: visible
}

.spinner {
  width: 100px;
  height: 100px;
  margin: 100px auto;
  background-color: antiquewhite;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}




.spazio {
	height: 30px
}
.spazioin {
	height: 100px
}




#portfolio {
	background-color: antiquewhite;
	width: 110px;
	height: 110px;
	border-radius: 100px;
	text-align:center;
	margin: auto;
    vertical-align: middle;
	line-height: 100px;
	color:#080A21;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	transition: width 1s, height 1s;
	
	
	
	
}

#portfolio:hover {
    width: 700px;
	height: 700px;
}
.introportfolio {
	position:relative;
     bottom:30px;
     left:0px;
     visibility: hidden;
	line-height: 50px
}		

#portfolio:hover .introportfolio{
	visibility: visible;
	
}


@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

//lightbox

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}